@media screen and (min-width: 0px) {
  :root {
    --page-margin: 10%;
    --page-margin-vertical: 10vw;
    --column-width: 33.33333%;
    --column-gap: 3vw;
  }
}
@media screen and (min-width: 1800px) {
  :root {
    --column-width: 25%;
  }
}
@media screen and (max-width: 1079px) {
  :root {
    --column-width: 50%;
  }
}
@media screen and (max-width: 599px) {
  :root {
    --page-margin: 10%;
    --page-margin-vertical: 10vw;
    --column-width: 100%;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
*::-moz-selection {
  background: #a5ffa7;
}
*::selection {
  background: #a5ffa7;
}

a {
  color: inherit;
  cursor: pointer;
  display: inline-block;
  outline: 0;
}

button, button:focus {
  border: none;
  outline: none;
}

input {
  outline: 0;
}

svg * {
  vector-effect: non-scaling-stroke;
}

@font-face {
  font-family: "Apropal-Bold";
  src: url("../fonts/Apropal-Bold/Apropal-Bold.eot");
  src: url("../fonts/Apropal-Bold/Apropal-Bold?#iefix") format("embedded-opentype"), url("../fonts/Apropal-Bold/Apropal-Bold.woff") format("woff"), url("../fonts/Apropal-Bold/Apropal-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Rewir-Light";
  src: url("../fonts/Rewir-Light/Rewir-Light.eot");
  src: url("../fonts/Rewir-Light/Rewir-Light?#iefix") format("embedded-opentype"), url("../fonts/Rewir-Light/Rewir-Light.woff") format("woff"), url("../fonts/Rewir-Light/Rewir-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 1vw;
  font-size: 16px;
  font-family: Rewir-Light, Arial;
}
@media screen and (min-width: 1800px) {
  html {
    font-size: calc(16px * 1.1);
  }
}
@media screen and (max-width: 599px) {
  html {
    font-size: calc(16px * 0.9);
  }
}

h2, .menu-column .cat-item, .menu-item, .page_item, .post-title {
  font-size: 1.8rem;
  font-family: Apropal-Bold, Arial;
  line-height: 1.1em;
  margin-bottom: .4em;
  text-transform: uppercase;
  letter-spacing: .1em;
}
@media screen and (max-width: 599px) {
  h2, .menu-column .cat-item, .menu-item, .page_item, .post-title {
    font-size: calc(1.8rem * 0.77);
  }
}

.article-title, .lang-item {
  font-size: 1.8rem;
  font-family: Apropal-Bold, Arial;
  line-height: 1.2em;
}
@media screen and (max-width: 599px) {
  .article-title, .lang-item {
    font-size: calc(1.8rem * 0.77);
  }
}

.lang-item {
  line-height: 1.7em;
}
@media screen and (max-width: 599px) {
  .lang-item {
    line-height: 2em;
  }
}

@-webkit-keyframes link-hover {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  25% {
    -webkit-transform: translateX(30%);
    transform: translateX(30%);
  }
  50% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  75% {
    -webkit-transform: translateX(-30%);
    transform: translateX(-30%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes link-hover {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  25% {
    -webkit-transform: translateX(30%);
    transform: translateX(30%);
  }
  50% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  75% {
    -webkit-transform: translateX(-30%);
    transform: translateX(-30%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes link-hover-with-translateX {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  25% {
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
  }
  50% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  75% {
    -webkit-transform: translateX(-80%);
    transform: translateX(-80%);
  }
  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@keyframes link-hover-with-translateX {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  25% {
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
  }
  50% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  75% {
    -webkit-transform: translateX(-80%);
    transform: translateX(-80%);
  }
  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@-webkit-keyframes link-hover-with-translateXY {
  0% {
    -webkit-transform: translateX(-50%) translateY(calc(var(--page-margin-vertical)/3/3));
    transform: translateX(-50%) translateY(calc(var(--page-margin-vertical)/3/3));
  }
  25% {
    -webkit-transform: translateX(-20%) translateY(calc(var(--page-margin-vertical)/3/3));
    transform: translateX(-20%) translateY(calc(var(--page-margin-vertical)/3/3));
  }
  50% {
    -webkit-transform: translateX(-50%) translateY(calc(var(--page-margin-vertical)/3/3));
    transform: translateX(-50%) translateY(calc(var(--page-margin-vertical)/3/3));
  }
  75% {
    -webkit-transform: translateX(-80%) translateY(calc(var(--page-margin-vertical)/3/3));
    transform: translateX(-80%) translateY(calc(var(--page-margin-vertical)/3/3));
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(calc(var(--page-margin-vertical)/3/3));
    transform: translateX(-50%) translateY(calc(var(--page-margin-vertical)/3/3));
  }
}
@keyframes link-hover-with-translateXY {
  0% {
    -webkit-transform: translateX(-50%) translateY(calc(var(--page-margin-vertical)/3/3));
    transform: translateX(-50%) translateY(calc(var(--page-margin-vertical)/3/3));
  }
  25% {
    -webkit-transform: translateX(-20%) translateY(calc(var(--page-margin-vertical)/3/3));
    transform: translateX(-20%) translateY(calc(var(--page-margin-vertical)/3/3));
  }
  50% {
    -webkit-transform: translateX(-50%) translateY(calc(var(--page-margin-vertical)/3/3));
    transform: translateX(-50%) translateY(calc(var(--page-margin-vertical)/3/3));
  }
  75% {
    -webkit-transform: translateX(-80%) translateY(calc(var(--page-margin-vertical)/3/3));
    transform: translateX(-80%) translateY(calc(var(--page-margin-vertical)/3/3));
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(calc(var(--page-margin-vertical)/3/3));
    transform: translateX(-50%) translateY(calc(var(--page-margin-vertical)/3/3));
  }
}
@-webkit-keyframes link-hover-with-translateXYreverse {
  0% {
    -webkit-transform: translateX(-50%) translateY(calc(calc(var(--page-margin-vertical)/3/3) * -1));
    transform: translateX(-50%) translateY(calc(calc(var(--page-margin-vertical)/3/3) * -1));
  }
  25% {
    -webkit-transform: translateX(-20%) translateY(calc(calc(var(--page-margin-vertical)/3/3) * -1));
    transform: translateX(-20%) translateY(calc(calc(var(--page-margin-vertical)/3/3) * -1));
  }
  50% {
    -webkit-transform: translateX(-50%) translateY(calc(calc(var(--page-margin-vertical)/3/3) * -1));
    transform: translateX(-50%) translateY(calc(calc(var(--page-margin-vertical)/3/3) * -1));
  }
  75% {
    -webkit-transform: translateX(-80%) translateY(calc(calc(var(--page-margin-vertical)/3/3) * -1));
    transform: translateX(-80%) translateY(calc(calc(var(--page-margin-vertical)/3/3) * -1));
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(calc(calc(var(--page-margin-vertical)/3/3) * -1));
    transform: translateX(-50%) translateY(calc(calc(var(--page-margin-vertical)/3/3) * -1));
  }
}
@keyframes link-hover-with-translateXYreverse {
  0% {
    -webkit-transform: translateX(-50%) translateY(calc(calc(var(--page-margin-vertical)/3/3) * -1));
    transform: translateX(-50%) translateY(calc(calc(var(--page-margin-vertical)/3/3) * -1));
  }
  25% {
    -webkit-transform: translateX(-20%) translateY(calc(calc(var(--page-margin-vertical)/3/3) * -1));
    transform: translateX(-20%) translateY(calc(calc(var(--page-margin-vertical)/3/3) * -1));
  }
  50% {
    -webkit-transform: translateX(-50%) translateY(calc(calc(var(--page-margin-vertical)/3/3) * -1));
    transform: translateX(-50%) translateY(calc(calc(var(--page-margin-vertical)/3/3) * -1));
  }
  75% {
    -webkit-transform: translateX(-80%) translateY(calc(calc(var(--page-margin-vertical)/3/3) * -1));
    transform: translateX(-80%) translateY(calc(calc(var(--page-margin-vertical)/3/3) * -1));
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(calc(calc(var(--page-margin-vertical)/3/3) * -1));
    transform: translateX(-50%) translateY(calc(calc(var(--page-margin-vertical)/3/3) * -1));
  }
}
@-webkit-keyframes link-rotate {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(360deg);
    transform: translateX(-50%) rotate(360deg);
  }
}
@keyframes link-rotate {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(360deg);
    transform: translateX(-50%) rotate(360deg);
  }
}
html, body {
  background: #f4d0d0;
  overflow-x: hidden;
}

body {
  padding: calc( var(--page-margin-vertical) * 2 ) 0 calc( var(--page-margin-vertical) * 2 );
}
body.home {
  padding-top: 0;
}
body.single {
  padding-top: calc( var(--page-margin-vertical) * 1.5 );
  padding-bottom: calc( var(--page-margin-vertical) * 1 );
}
@media screen and (max-width: 599px) {
  body.single {
    padding-top: calc(3 * var(--page-margin-vertical));
  }
}
body:after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  width: var(--page-margin-vertical);
  height: 100vh;
  z-index: 0;
  background: white;
}

.page-content {
  margin-left: var(--page-margin);
  margin-right: var(--page-margin);
  width: calc(100% - 2 * var(--page-margin));
}

*::-moz-selection {
  background-color: #fffeb8;
}

*::selection {
  background-color: #fffeb8;
}

a {
  color: #fffe99;
  text-decoration: none;
}

.logo {
  z-index: 10;
}
.category .logo, .single .logo, .page .logo {
  width: var(--page-margin);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: fixed;
}
@media screen and (max-width: 599px) {
  .category .logo, .single .logo, .page .logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: calc(2.5 * var(--page-margin-vertical));
    top: 0;
    background: #f4d0d0;
  }
}
.category .logo svg, .single .logo svg, .page .logo svg {
  height: 70%;
}
.category .logo text, .single .logo text, .page .logo text {
  display: none;
}
.logo svg {
  width: 100%;
}
.logo polyline, .logo line, .logo path {
  -webkit-transition: stroke-dashoffset 5s 1s ease;
  transition: stroke-dashoffset 5s 1s ease;
}
.logo polyline {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
}
.logo line {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}
.logo path:nth-of-type(1) {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
}
.logo path:nth-of-type(2) {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
}
.logo path:nth-of-type(3) {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}
.logo text {
  opacity: 0;
  -webkit-transition: opacity .09s;
  transition: opacity .09s;
}
.logo text::-moz-selection {
  background: none;
  color: black;
}
.logo text::selection {
  background: none;
  color: black;
}
.logo.drawn polyline, .logo.drawn line, .logo.drawn path {
  stroke-dashoffset: 0;
}
.logo.drawn text {
  opacity: 1;
}
.logo.drawn text:nth-child(0) {
  -webkit-transition-delay: calc( 1s + .09s * 0 );
  transition-delay: calc( 1s + .09s * 0 );
}
.logo.drawn text:nth-child(1) {
  -webkit-transition-delay: calc( 1s + .09s * 1 );
  transition-delay: calc( 1s + .09s * 1 );
}
.logo.drawn text:nth-child(2) {
  -webkit-transition-delay: calc( 1s + .09s * 2 );
  transition-delay: calc( 1s + .09s * 2 );
}
.logo.drawn text:nth-child(3) {
  -webkit-transition-delay: calc( 1s + .09s * 3 );
  transition-delay: calc( 1s + .09s * 3 );
}
.logo.drawn text:nth-child(4) {
  -webkit-transition-delay: calc( 1s + .09s * 4 );
  transition-delay: calc( 1s + .09s * 4 );
}
.logo.drawn text:nth-child(5) {
  -webkit-transition-delay: calc( 1s + .09s * 5 );
  transition-delay: calc( 1s + .09s * 5 );
}
.logo.drawn text:nth-child(6) {
  -webkit-transition-delay: calc( 1s + .09s * 6 );
  transition-delay: calc( 1s + .09s * 6 );
}
.logo.drawn text:nth-child(7) {
  -webkit-transition-delay: calc( 1s + .09s * 7 );
  transition-delay: calc( 1s + .09s * 7 );
}
.logo.drawn text:nth-child(8) {
  -webkit-transition-delay: calc( 1s + .09s * 8 );
  transition-delay: calc( 1s + .09s * 8 );
}
.logo.drawn text:nth-child(9) {
  -webkit-transition-delay: calc( 1s + .09s * 9 );
  transition-delay: calc( 1s + .09s * 9 );
}
.logo.drawn text:nth-child(10) {
  -webkit-transition-delay: calc( 1s + .09s * 10 );
  transition-delay: calc( 1s + .09s * 10 );
}
.logo.drawn text:nth-child(11) {
  -webkit-transition-delay: calc( 1s + .09s * 11 );
  transition-delay: calc( 1s + .09s * 11 );
}
.logo.drawn text:nth-child(12) {
  -webkit-transition-delay: calc( 1s + .09s * 12 );
  transition-delay: calc( 1s + .09s * 12 );
}
.logo.drawn text:nth-child(13) {
  -webkit-transition-delay: calc( 1s + .09s * 13 );
  transition-delay: calc( 1s + .09s * 13 );
}
.logo.drawn text:nth-child(14) {
  -webkit-transition-delay: calc( 1s + .09s * 14 );
  transition-delay: calc( 1s + .09s * 14 );
}
.logo.drawn text:nth-child(15) {
  -webkit-transition-delay: calc( 1s + .09s * 15 );
  transition-delay: calc( 1s + .09s * 15 );
}
.logo.drawn text:nth-child(16) {
  -webkit-transition-delay: calc( 1s + .09s * 16 );
  transition-delay: calc( 1s + .09s * 16 );
}
.logo.drawn text:nth-child(17) {
  -webkit-transition-delay: calc( 1s + .09s * 17 );
  transition-delay: calc( 1s + .09s * 17 );
}
.logo.drawn text:nth-child(18) {
  -webkit-transition-delay: calc( 1s + .09s * 18 );
  transition-delay: calc( 1s + .09s * 18 );
}
.logo.drawn text:nth-child(19) {
  -webkit-transition-delay: calc( 1s + .09s * 19 );
  transition-delay: calc( 1s + .09s * 19 );
}
.logo.drawn text:nth-child(20) {
  -webkit-transition-delay: calc( 1s + .09s * 20 );
  transition-delay: calc( 1s + .09s * 20 );
}
.logo.drawn text:nth-child(21) {
  -webkit-transition-delay: calc( 1s + .09s * 21 );
  transition-delay: calc( 1s + .09s * 21 );
}
.logo.drawn text:nth-child(22) {
  -webkit-transition-delay: calc( 1s + .09s * 22 );
  transition-delay: calc( 1s + .09s * 22 );
}
.logo.drawn text:nth-child(23) {
  -webkit-transition-delay: calc( 1s + .09s * 23 );
  transition-delay: calc( 1s + .09s * 23 );
}

.aside-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 100;
  width: calc(100vw + var(--page-margin-vertical));
  -webkit-transform: translateX(100vw);
  -ms-transform: translateX(100vw);
  transform: translateX(100vw);
  pointer-events: none;
}
.open .aside-menu {
  background: white;
  position: absolute;
}
.open .aside-menu .menu-burger:hover .burger-sign {
  -webkit-animation-name: link-hover;
  animation-name: link-hover;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: link-rotate;
  animation-name: link-rotate;
}
.open .aside-menu .menu-burger:hover .burger-sign:before, .open .aside-menu .menu-burger:hover .burger-sign:after {
  -webkit-animation: none;
  animation: none;
}
.open .aside-menu .burger-sign {
  background: transparent;
}
.open .aside-menu .burger-sign:before {
  -webkit-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}
.open .aside-menu .burger-sign:after {
  -webkit-transform: translateX(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) rotate(-45deg);
  transform: translateX(-50%) rotate(-45deg);
}

.menu-burger {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translate(100%, -50%);
  -ms-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
  background: transparent;
  width: calc(var(--page-margin-vertical) / 3);
  height: calc(var(--page-margin-vertical) / 3 / 3 * 2);
  padding: 0;
  cursor: pointer;
  z-index: 2;
  pointer-events: auto;
}
.menu-burger:hover .burger-sign, .menu-burger:hover .burger-sign:before, .menu-burger:hover .burger-sign:after {
  -webkit-animation-name: link-hover;
  animation-name: link-hover;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.menu-burger:hover .burger-sign {
  -webkit-animation-name: link-hover-with-translateX;
  animation-name: link-hover-with-translateX;
}
.menu-burger:hover .burger-sign:before {
  -webkit-animation-name: link-hover-with-translateXY;
  animation-name: link-hover-with-translateXY;
  -webkit-animation-delay: .25s;
  animation-delay: .25s;
}
.menu-burger:hover .burger-sign:after {
  -webkit-animation-name: link-hover-with-translateXYreverse;
  animation-name: link-hover-with-translateXYreverse;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}
.menu-burger .burger-sign {
  display: inline-block;
  width: calc(var(--page-margin-vertical) / 3);
  height: 2px;
  background: black;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.menu-burger .burger-sign:before, .menu-burger .burger-sign:after {
  content: "";
  position: absolute;
  width: calc(var(--page-margin-vertical) / 3);
  height: 2px;
  background: black;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.menu-burger .burger-sign:before {
  -webkit-transform: translateX(-50%) translateY(calc(var(--page-margin-vertical)/3/3));
  -ms-transform: translateX(-50%) translateY(calc(var(--page-margin-vertical)/3/3));
  transform: translateX(-50%) translateY(calc(var(--page-margin-vertical)/3/3));
}
.menu-burger .burger-sign:after {
  -webkit-transform: translateX(-50%) translateY(calc(calc(var(--page-margin-vertical)/3/3) * -1));
  -ms-transform: translateX(-50%) translateY(calc(calc(var(--page-margin-vertical)/3/3) * -1));
  transform: translateX(-50%) translateY(calc(calc(var(--page-margin-vertical)/3/3) * -1));
}

.menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: var(--page-margin-vertical);
  width: calc(100% - 2 * var(--page-margin-vertical));
  min-height: 100vh;
  padding: var(--page-margin-vertical);
  padding-right: 0;
  background: #f4d0d0;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  pointer-events: auto;
}
@media screen and (max-width: 599px) {
  .menu-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: calc(var(--page-margin-vertical) * 4);
  }
}
.menu-content:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: calc((100% - var(--page-margin-vertical))/2);
  height: 100%;
  z-index: -1;
  background: #f7dede;
}
@media screen and (max-width: 599px) {
  .menu-content:after {
    background: none;
  }
}
.open .menu-content {
  -webkit-transform: translateX(-100vw);
  -ms-transform: translateX(-100vw);
  transform: translateX(-100vw);
}
.menu-content a {
  color: black;
  position: relative;
}
.menu-content a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: calc(100% - .5em);
  background: #fffeb8;
  border-radius: 5%;
  width: 100%;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}
.menu-content a:hover:before {
  opacity: 1;
}
.menu-content .menu-column {
  width: 50%;
  float: left;
  -webkit-transform: translateX(calc(2 * var(--column-gap)));
  -ms-transform: translateX(calc(2 * var(--column-gap)));
  transform: translateX(calc(2 * var(--column-gap)));
  padding: 0 var(--column-gap);
  text-align: right;
}
@media screen and (max-width: 599px) {
  .menu-content .menu-column {
    width: 100%;
    margin-bottom: calc(2 * var(--column-gap));
  }
}
.menu-content .menu-column figcaption {
  font-size: 20px;
  font-family: Rewir-Light, Arial;
  margin-bottom: .7em;
}
@media screen and (min-width: 1800px) {
  .menu-content .menu-column figcaption {
    font-size: calc(20px * 1.1);
  }
}
@media screen and (max-width: 599px) {
  .menu-content .menu-column figcaption {
    font-size: calc(20px * 0.9);
  }
}
.menu-content .cat-item, .menu-content .menu-item, .menu-content .page_item {
  line-height: 1em;
  margin-bottom: .4em;
}

.open {
  height: 100vh;
  overflow: hidden;
}

body .tplis-cl-cookies {
  background: #f4d0d0;
}
body .tplis-cl-cookies, body .newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: none;
  top: calc(var(--page-margin-vertical) / 2);
  bottom: auto !important;
  right: 0;
  width: calc(50vw - var(--page-margin-vertical) / 4 * 3);
  height: 3rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-size: 16px;
  font-family: Rewir-Light, Arial;
}
@media screen and (min-width: 1800px) {
  body .tplis-cl-cookies, body .newsletter {
    font-size: calc(16px * 1.1);
  }
}
@media screen and (max-width: 599px) {
  body .tplis-cl-cookies, body .newsletter {
    font-size: calc(16px * 0.9);
  }
}
@media screen and (max-width: 1079px) {
  body .tplis-cl-cookies, body .newsletter {
    min-width: calc(50vw - var(--page-margin-vertical) / 4 * 3);
    width: auto;
  }
}
body .tplis-cl-cookies .tplis-cl-cookies-text, body .newsletter .tplis-cl-cookies-text {
  padding: 0;
  max-width: none;
  display: inline;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
body .tplis-cl-cookies .tplis-cl-cookies-text *, body .newsletter .tplis-cl-cookies-text * {
  color: black;
}
body .tplis-cl-cookies .tplis-cl-cookies-text a, body .newsletter .tplis-cl-cookies-text a {
  border: none;
  color: #fffeb8;
  font-weight: normal;
}
body .tplis-cl-cookies .tplis-cl-cookies-text a:hover, body .newsletter .tplis-cl-cookies-text a:hover {
  color: #fffe99;
}
body .tplis-cl-cookies .tplis-cl-message, body .newsletter .tplis-cl-message {
  padding: 0 1em;
}
body .tplis-cl-cookies .tplis-cl-message p, body .newsletter .tplis-cl-message p {
  margin: 0;
  padding: 0;
}
body .tplis-cl-cookies p, body .tplis-cl-cookies h4, body .newsletter p, body .newsletter h4 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 20px;
  font-family: Rewir-Light, Arial;
}
@media screen and (min-width: 1800px) {
  body .tplis-cl-cookies p, body .tplis-cl-cookies h4, body .newsletter p, body .newsletter h4 {
    font-size: calc(20px * 1.1);
  }
}
@media screen and (max-width: 599px) {
  body .tplis-cl-cookies p, body .tplis-cl-cookies h4, body .newsletter p, body .newsletter h4 {
    font-size: calc(20px * 0.9);
  }
}
body .tplis-cl-cookies .tplis-cl-cookies-head, body .tplis-cl-cookies .tplis-cl-cookies-content-text, body .newsletter .tplis-cl-cookies-head, body .newsletter .tplis-cl-cookies-content-text {
  display: inline;
  float: left;
}
body .tplis-cl-cookies .tplis-cl-cookies-head, body .newsletter .tplis-cl-cookies-head {
  padding-left: 1em;
}
body .tplis-cl-cookies .tplis-cl-cookies-head h4, body .newsletter .tplis-cl-cookies-head h4 {
  margin: 0;
  font-weight: normal;
  padding: 0;
  border: none;
}
body .tplis-cl-cookies .tplis-cl-cookies-buttons, body .newsletter .tplis-cl-cookies-buttons {
  float: right;
  width: var(--page-margin-vertical);
  display: inline-block;
  position: static;
}
body .tplis-cl-cookies .tplis-cl-cookies-buttons .tplis-cl-row, body .tplis-cl-cookies .tplis-cl-cookies-buttons .tplis-cl-button-image, body .tplis-cl-cookies .tplis-cl-cookies-buttons .tplis-cl-button-accept, body .newsletter .tplis-cl-cookies-buttons .tplis-cl-row, body .newsletter .tplis-cl-cookies-buttons .tplis-cl-button-image, body .newsletter .tplis-cl-cookies-buttons .tplis-cl-button-accept {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body .tplis-cl-cookies .tplis-cl-cookies-buttons .tplis-cl-button-image, body .newsletter .tplis-cl-cookies-buttons .tplis-cl-button-image {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
body .tplis-cl-cookies .tplis-cl-cookies-buttons .tplis-cl-button-image:hover, body .newsletter .tplis-cl-cookies-buttons .tplis-cl-button-image:hover {
  -webkit-animation-name: link-hover;
  animation-name: link-hover;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-direction: reverse;
}
body .tplis-cl-cookies .tplis-cl-cookies-buttons .tplis-cl-button-image:hover p, body .newsletter .tplis-cl-cookies-buttons .tplis-cl-button-image:hover p {
  -webkit-animation-name: link-hover;
  animation-name: link-hover;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
body .tplis-cl-cookies .tplis-cl-cookies-buttons .tplis-cl-button-image p, body .newsletter .tplis-cl-cookies-buttons .tplis-cl-button-image p {
  background: transparent;
  color: white;
  height: auto;
}
body .tplis-cl-cookies .tplis-cl-cookies-buttons .tplis-cl-button-image p:hover, body .newsletter .tplis-cl-cookies-buttons .tplis-cl-button-image p:hover {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.cover {
  position: relative;
  height: 100vh;
  margin-bottom: calc( var(--page-margin-vertical) * 2 );
}
.cover .logo {
  width: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: calc(50% - var(--page-margin-vertical) * .5);
}
.cover .logo svg {
  width: 100%;
}
.cover .claim {
  position: absolute;
  bottom: calc(var(--page-margin-vertical) / 2);
  right: calc(33.33333% / -2);
  width: 70%;
  text-align: right;
  z-index: 1;
}
@media screen and (max-width: 599px) {
  .cover .claim {
    width: 100%;
    right: 0;
  }
}
@media screen and (max-width: 599px) and (orientation: landscape) {
  .cover .claim {
    right: calc(33.33333% / -2);
    bottom: calc(var(--page-margin-vertical) / 4);
  }
}

.cover .claim span {
  display: inline-block;
  text-align: left;
  width: auto;
}

.posts-section {
  margin: calc(var(--page-margin-vertical) * -1) calc(var(--page-margin) + var(--column-gap) * -1);
  overflow: auto;
}

.post-article {
  width: calc(var(--column-width) - var(--column-gap) * 2);
  margin: var(--column-gap);
  float: left;
  height: 0;
  position: relative;
  padding-top: calc((100% - var(--column-gap) * 6) / 3);
}
@media screen and (min-width: 1800px) {
  .post-article {
    padding-top: calc((100% - var(--column-gap) * 10) / 5);
  }
}
@media screen and (max-width: 1079px) {
  .post-article {
    padding-top: calc((100% - var(--column-gap) * 4) / 2);
  }
}
@media screen and (max-width: 599px) {
  .post-article {
    padding-top: calc((100% - var(--column-gap) * 2) / 1);
  }
}
.post-article:before {
  content: "";
  opacity: .3;
  background: white;
}
.post-article.green-box .link-to-post {
  color: #a5ffa7;
}
.post-article.green-box [data-bg="no-photo"] + .link-to-post {
  color: black;
}
.post-article.green-box .article-bg {
  background-color: #a5ffa7;
}
.post-article.blue-box .link-to-post {
  color: #67beff;
}
.post-article.blue-box [data-bg="no-photo"] + .link-to-post {
  color: black;
}
.post-article.blue-box .article-bg {
  background-color: #67beff;
}
.post-article.red-box .link-to-post {
  color: #ff7f89;
}
.post-article.red-box [data-bg="no-photo"] + .link-to-post {
  color: black;
}
.post-article.red-box .article-bg {
  background-color: #ff7f89;
}
.post-article.yellow-box .link-to-post {
  color: #fffe99;
}
.post-article.yellow-box [data-bg="no-photo"] + .link-to-post {
  color: black;
}
.post-article.yellow-box .article-bg {
  background-color: #fffe99;
}
.post-article .article-bg, .post-article .link-to-post, .post-article:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.article-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-filter: gray;
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  mix-blend-mode: multiply;
  opacity: .8;
}
.article-bg[data-bg="no-photo"] {
  -webkit-filter: none;
  filter: none;
}
.article-bg[data-bg="no-photo"]:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  mix-blend-mode: multiply;
}

.article-title {
  -webkit-transform: translateX(var(--column-gap));
  -ms-transform: translateX(var(--column-gap));
  transform: translateX(var(--column-gap));
  text-align: right;
  padding-top: 2em;
}

.newsletter {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-transform: translateX(calc(-.5 * var(--column-gap)));
  -ms-transform: translateX(calc(-.5 * var(--column-gap)));
  transform: translateX(calc(-.5 * var(--column-gap)));
}
@media screen and (max-width: 599px) {
  .newsletter {
    -webkit-transform: translateX(calc(var(--page-margin-vertical) - var(--column-gap) ));
    -ms-transform: translateX(calc(var(--page-margin-vertical) - var(--column-gap) ));
    transform: translateX(calc(var(--page-margin-vertical) - var(--column-gap) ));
  }
}
.newsletter .tnp-button, .newsletter .tnp-field, .newsletter .tnp-email {
  font-size: 20px;
  font-family: Rewir-Light, Arial;
  height: 100%;
}
@media screen and (min-width: 1800px) {
  .newsletter .tnp-button, .newsletter .tnp-field, .newsletter .tnp-email {
    font-size: calc(20px * 1.1);
  }
}
@media screen and (max-width: 599px) {
  .newsletter .tnp-button, .newsletter .tnp-field, .newsletter .tnp-email {
    font-size: calc(20px * 0.9);
  }
}
.newsletter .tnp-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.newsletter .tnp-field-email {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.newsletter .tnp-email {
  border: none;
  background: none;
  color: black;
  padding: 0 1em;
  cursor: pointer;
  width: 100%;
}
.newsletter .tnp-field-button {
  background: black;
  width: var(--page-margin-vertical);
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.newsletter .tnp-button {
  background: black;
  border: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: auto;
}
.newsletter .tnp-button:hover {
  -webkit-animation-name: link-hover;
  animation-name: link-hover;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-direction: reverse;
}
.newsletter .tnp-button:hover p {
  -webkit-animation-name: link-hover;
  animation-name: link-hover;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

body .main_sidbar_slide {
  z-index: 10;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  bottom: auto;
  top: var(--page-margin-vertical);
}
body .main_sidbar_slide.like_box_slideup_open {
  right: 0;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  left: auto;
}
@media screen and (max-width: 599px) and (orientation: landscape) {
  body .main_sidbar_slide.like_box_slideup_open {
    right: auto;
    left: 0;
  }
}

body .main_sidbar_slide.like_box_slideup_open .sidbar_slide_header, body .main_sidbar_slide.like_box_slideup_open .sidbar_slide_title {
  background-color: white;
}
@media screen and (max-width: 599px) and (orientation: landscape) {
  body .main_sidbar_slide.like_box_slideup_open .sidbar_slide_header {
    background-color: black;
    border-left: black 12px solid;
  }
}

@media screen and (max-width: 599px) and (orientation: landscape) {
  body .main_sidbar_slide.like_box_slideup_open .sidbar_slide_title {
    background-color: transparent;
  }
}

body .main_sidbar_slide.like_box_slideup_close {
  right: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  left: auto;
}
@media screen and (max-width: 599px) and (orientation: landscape) {
  body .main_sidbar_slide.like_box_slideup_close {
    right: auto;
    left: calc(1 * var(--page-margin-vertical));
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

body .main_sidbar_slide:hover .sidbar_slide_title {
  color: #f4d0d0;
}
@media screen and (max-width: 599px) and (orientation: landscape) {
  body .main_sidbar_slide:hover .sidbar_slide_title {
    color: white;
  }
}

body .main_sidbar_slide .like_box_slideup {
  height: auto !important;
}
body .main_sidbar_slide .sidbar_slide_header {
  margin-top: 0 !important;
  border: none;
  background-color: transparent;
  border-radius: 0;
  position: absolute;
  left: calc(-1 * var(--page-margin-vertical));
  width: var(--page-margin-vertical);
  top: 0;
  height: 100%;
}
@media screen and (max-width: 599px) and (orientation: landscape) {
  body .main_sidbar_slide .sidbar_slide_header {
    left: auto;
    right: 0;
    border-left: #f4d0d0 12px solid;
  }
}

body .main_sidbar_slide .sidbar_slide_title {
  color: black;
  background-color: transparent;
  height: var(--page-margin-vertical);
  line-height: calc(.8 * var(--page-margin-vertical));
  vertical-align: middle;
  width: auto;
  height: auto;
  left: 0;
  top: 50%;
  position: absolute;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(90deg) translateY(-100%) translateX(-50%);
  -ms-transform: rotate(90deg) translateY(-100%) translateX(-50%);
  transform: rotate(90deg) translateY(-100%) translateX(-50%);
  display: inline-block;
}
@media screen and (min-width: 1800px) {
  body .main_sidbar_slide .sidbar_slide_title {
    line-height: calc(.9 * 1.1 * var(--page-margin-vertical));
  }
}
@media screen and (max-width: 599px) {
  body .main_sidbar_slide .sidbar_slide_title {
    line-height: calc(.9 * .5 * var(--page-margin-vertical));
  }
}
@media screen and (max-width: 599px) and (orientation: landscape) {
  body .main_sidbar_slide .sidbar_slide_title {
    -webkit-transform: rotate(90deg) translateY(-100%) translateY(12px) translateX(-50%);
    -ms-transform: rotate(90deg) translateY(-100%) translateY(12px) translateX(-50%);
    transform: rotate(90deg) translateY(-100%) translateY(12px) translateX(-50%);
  }
}

body .main_sidbar_slide .sidbar_slide_content {
  border: none;
  background-color: white;
}

.comments-area, .comment-respond {
  margin-top: var(--page-margin-vertical);
}

.comments-title, .comment-reply-title {
  margin-bottom: 3rem;
}

.comment-meta {
  position: relative;
}
.comment-meta:before, .comment-meta:after {
  content: "";
  position: absolute;
  left: 0;
  width: calc(var(--page-margin-vertical) / 3);
  height: 2px;
  background: black;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.comment-meta:before {
  top: 0;
}
.comment-meta:after {
  bottom: 0;
}
.comment-meta:before {
  width: 100%;
  left: 0;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  z-index: 10;
}
.comment-meta:after {
  content: none;
}

.comment-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.comment-author img {
  z-index: 0;
  background: #f4d0d0;
}
.comment-author img[src*="e5c6c5404081c5cc32f844f8ccd7396"] {
  opacity: 0;
}
.comment-author:before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-image: url(../img/avatar.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100%;
}
.comment-author .fn {
  margin-left: calc( var(--column-gap) / 2 );
  padding-top: .5em;
}
.comment-author .says {
  display: none;
}

.comment-metadata {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  margin-left: calc( 42px + var(--column-gap) / 2 );
}

.comment-content {
  font-size: 20px;
  font-family: Rewir-Light, Arial;
  margin-bottom: .5em;
}
@media screen and (min-width: 1800px) {
  .comment-content {
    font-size: calc(20px * 1.1);
  }
}
@media screen and (max-width: 599px) {
  .comment-content {
    font-size: calc(20px * 0.9);
  }
}

.comment-reply-link, .logged-in-as a {
  margin-bottom: .5em;
}

.logged-in-as, .logged-in-as a, time, .comment-edit-link, .comment-reply-link {
  color: #fdf6f6;
}

.comment-form-comment label {
  display: none;
}
.comment-form-comment textarea {
  width: 100%;
  border: none;
  background: #f6d9d9;
  margin: 0;
  padding: 0.3em var(--column-gap);
  margin-bottom: calc( var(--column-gap) / 2);
}
.comment-form-comment textarea:focus {
  outline: none;
}

.comment-form .comment-notes {
  margin-bottom: .3em;
}
.comment-form label {
  width: 9rem;
  display: inline-block;
}
.comment-form p {
  margin-bottom: calc( var(--column-gap) / 2);
}
.comment-form input[type="text"], .comment-form input[type="email"], .comment-form input[type="url"] {
  width: calc(100% - 12rem);
  float: right;
  border: none;
  background: #f6d9d9;
  margin: 0;
  padding: 0.3em calc(var(--column-gap) / 2 );
}
.comment-form input[type="text"]:focus, .comment-form input[type="email"]:focus, .comment-form input[type="url"]:focus {
  outline: none;
}

.form-submit {
  float: right;
  cursor: pointer;
  background: black;
  height: 3rem;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}
.form-submit:hover {
  -webkit-transform: translateX(var(--column-gap));
  -ms-transform: translateX(var(--column-gap));
  transform: translateX(var(--column-gap));
}
.form-submit:hover .submit {
  -webkit-transform: translateX(calc(var(--column-gap) * -1));
  -ms-transform: translateX(calc(var(--column-gap) * -1));
  transform: translateX(calc(var(--column-gap) * -1));
}
.form-submit .submit {
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
  cursor: pointer;
  color: white;
  background: none;
  border: none;
  font-size: 16px;
  font-family: Rewir-Light, Arial;
  height: 3rem;
  padding: 0 var(--column-gap);
}
@media screen and (min-width: 1800px) {
  .form-submit .submit {
    font-size: calc(16px * 1.1);
  }
}
@media screen and (max-width: 599px) {
  .form-submit .submit {
    font-size: calc(16px * 0.9);
  }
}

.language-switcher {
  margin-top: calc(var(--page-margin-vertical) / 2);
  width: var(--page-margin-vertical);
  height: 3rem;
  line-height: 3rem;
  z-index: 2;
  pointer-events: auto;
}
.language-switcher .current-lang {
  display: none;
}
.language-switcher .lang-item {
  text-align: center;
}

.lang-item {
  height: 100%;
}
.lang-item a {
  text-decoration: none;
  height: 100%;
  color: black;
  position: relative;
}
.lang-item a:hover:before, .lang-item a:hover:after {
  -webkit-animation-name: link-hover;
  animation-name: link-hover;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: link-hover-with-translateX;
  animation-name: link-hover-with-translateX;
}
.lang-item a:hover:after {
  animation-direction: reverse;
}
.lang-item a:before, .lang-item a:after {
  content: "";
  position: absolute;
  left: 0;
  width: calc(var(--page-margin-vertical) / 3);
  height: 2px;
  background: black;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.lang-item a:before {
  top: 0;
}
.lang-item a:after {
  bottom: 0;
}

.article {
  padding-right: var(--column-gap);
}

.post-title {
  margin-bottom: 3rem;
}

.post-tags {
  font-size: 16px;
  font-family: Rewir-Light, Arial;
  position: relative;
  display: inline-block;
  padding: 1em 0;
  margin-bottom: 3rem;
}
@media screen and (min-width: 1800px) {
  .post-tags {
    font-size: calc(16px * 1.1);
  }
}
@media screen and (max-width: 599px) {
  .post-tags {
    font-size: calc(16px * 0.9);
  }
}
.post-tags:before, .post-tags:after {
  content: "";
  position: absolute;
  left: 0;
  width: calc(var(--page-margin-vertical) / 3);
  height: 2px;
  background: black;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.post-tags:before {
  top: 0;
}
.post-tags:after {
  bottom: 0;
}
.post-tags:before, .post-tags:after {
  width: 100%;
}

.post-category:before {
  content: " / ";
}
.post-category:first-child:before {
  content: none;
}

.article-content {
  font-size: 20px;
  font-family: Rewir-Light, Arial;
  line-height: 1.4em;
  padding-left: calc( var(--column-gap) * 2 );
}
@media screen and (min-width: 1800px) {
  .article-content {
    font-size: calc(20px * 1.1);
  }
}
@media screen and (max-width: 599px) {
  .article-content {
    font-size: calc(20px * 0.9);
  }
}
.article-content p, .article-content h5, .article-content figure, .article-content div, .article-content ul, .article-content ol {
  margin-bottom: 1em;
}
.article-content h5 {
  font-size: 1.8rem;
  font-family: Apropal-Bold, Arial;
  line-height: 1.2em;
}
@media screen and (max-width: 599px) {
  .article-content h5 {
    font-size: calc(1.8rem * 0.77);
  }
}
.article-content figure, .article-content img {
  width: calc( 100% + var(--column-gap) ) !important;
}
.article-content ul {
  list-style: unset;
  padding-left: 1em;
}
.article-content img {
  height: auto;
}
.article-content img.size-medium {
  width: calc( 75% + var(--column-gap) ) !important;
}
.article-content img.size-thumbnail {
  width: calc( 50% + var(--column-gap) ) !important;
}
.article-content figure {
  position: relative;
}
.article-content figure:hover figcaption {
  opacity: 0;
}
.article-content figure img {
  width: 100% !important;
}
.article-content figure img.size-medium {
  width: 75% !important;
}
.article-content figure img.size-thumbnail {
  width: 50% !important;
}
.article-content figure figcaption {
  font-size: 14px;
  font-family: Rewir-Light, Arial;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: 0.5em var(--column-gap);
  position: absolute;
  top: 3em;
  left: calc(var(--column-gap) * -2);
  max-width: 100%;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
@media screen and (min-width: 1800px) {
  .article-content figure figcaption {
    font-size: calc(14px * 1.1);
  }
}
@media screen and (max-width: 599px) {
  .article-content figure figcaption {
    font-size: calc(14px * 0.9);
  }
}
@media screen and (max-width: 599px) {
  .article-content figure figcaption {
    position: static;
    -webkit-transform: translateY(calc(-4 * var(--column-gap)));
    -ms-transform: translateY(calc(-4 * var(--column-gap)));
    transform: translateY(calc(-4 * var(--column-gap)));
    max-width: calc(100% - 2 * var(--column-gap));
  }
}
.article-content figure figcaption:hover {
  opacity: 1;
}
.article-content em {
  font-style: italic;
}
.green-box .article-content a {
  color: white;
}
.green-box .article-content a:hover {
  color: #a5ffa7;
}
.green-box .article-content figcaption {
  background: #a5ffa7;
}
.blue-box .article-content a {
  color: white;
}
.blue-box .article-content a:hover {
  color: #67beff;
}
.blue-box .article-content figcaption {
  background: #67beff;
}
.red-box .article-content a {
  color: white;
}
.red-box .article-content a:hover {
  color: #ff7f89;
}
.red-box .article-content figcaption {
  background: #ff7f89;
}
.yellow-box .article-content a {
  color: white;
}
.yellow-box .article-content a:hover {
  color: #fffe99;
}
.yellow-box .article-content figcaption {
  background: #fffe99;
}
