@mixin stretch-to-parent {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

@mixin border-top-bottom {
	position: relative;
	&:before, &:after {
		content: "";
		position: absolute;
		left: 0;
		@include thin-border;
	}
	&:before {
		top: 0;
	}
	&:after {
		bottom: 0;
	}
}
