$page-margin: percentage(1/10);
$page-margin-vertical: 100vw/10;
$page-margin-mobile: percentage(1/10);
$page-margin-vertical-mobile: 100vw/10;
$column-width: percentage(1/3);
$column-width-large-desktop: percentage(1/4);
$column-width-tablet: percentage(1/2);
$column-width-mobile: percentage(1/1);
$column-gap: 3vw;

$thin-border: 2px;
$border-distance: calc(var(--page-margin-vertical)/3/3);

:root { 
    @include mediaAll {
        --page-margin: #{$page-margin};
        --page-margin-vertical: #{$page-margin-vertical};
        --column-width: #{$column-width};
        --column-gap: #{$column-gap};
    }

    @include mediaLargeDesktop {
        --column-width: #{$column-width-large-desktop};
    }

    @include mediaTablet {
        --column-width: #{$column-width-tablet};
    }

    @include mediaMobile {
        --page-margin: #{$page-margin-mobile};
        --page-margin-vertical: #{$page-margin-vertical-mobile};
        --column-width: #{$column-width-mobile};
    }
}
