$defaultFontSize: 1vw;
$bigHeaderFontSizeUppercase: 1.8rem;
$bigHeaderFontSize: 1.8rem;
$smallParagraphSize: 14px;
$paragraphSize: 16px;
$bigParagraphSize: 20px;

@mixin fontUppercase {
    text-transform: uppercase;
    letter-spacing: .1em;
}

@mixin fontHeaderBig {
    font-size: $bigHeaderFontSize;
    font-family: Apropal-Bold, Arial;
    line-height: 1.2em;
    @include mediaMobile {
        font-size: calc(#{$bigHeaderFontSize} * 0.77);
    }
}

@mixin fontHeaderBigUppercase {
    font-size: $bigHeaderFontSizeUppercase;
    font-family: Apropal-Bold, Arial;
    line-height: 1.1em;
    margin-bottom: .4em;
    @include fontUppercase;
    @include mediaMobile {
        font-size: calc(#{$bigHeaderFontSize} * 0.77);
    }
}

@mixin fontSmallParagraph {
    font-size: $smallParagraphSize;
    font-family: Rewir-Light, Arial;
    @include mediaLargeDesktop {
        font-size: calc(#{$smallParagraphSize} * 1.1);
    }
    @include mediaMobile {
        font-size: calc(#{$smallParagraphSize} * 0.9);
    }
}

@mixin fontParagraph {
    font-size: $paragraphSize;
    font-family: Rewir-Light, Arial;
    @include mediaLargeDesktop {
        font-size: calc(#{$paragraphSize} * 1.1);
    }
    @include mediaMobile {
        font-size: calc(#{$paragraphSize} * 0.9);
    }
}

@mixin fontBigParagraph {
    font-size: $bigParagraphSize;
    font-family: Rewir-Light, Arial;
    @include mediaLargeDesktop {
        font-size: calc(#{$bigParagraphSize} * 1.1);
    }
    @include mediaMobile {
        font-size: calc(#{$bigParagraphSize} * 0.9);
    }
}

@mixin fontFamily($name, $weight: null) {
    font-family: '#{$name}#{$weight}';
    src: url('../fonts/#{$name}/#{$name}#{$weight}.eot');
    src: url('../fonts/#{$name}/#{$name}#{$weight}?#iefix') format('embedded-opentype'),
         url('../fonts/#{$name}/#{$name}#{$weight}.woff') format('woff'),
         url('../fonts/#{$name}/#{$name}#{$weight}.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face { @include fontFamily(Apropal-Bold); }

@font-face { @include fontFamily(Rewir-Light); }

html {
    font-size: $defaultFontSize;
    @include fontParagraph;
}

h2, .menu-column .cat-item, .menu-item, .page_item, .post-title {
    @include fontHeaderBigUppercase;
}

.article-title, .lang-item {
    @include fontHeaderBig;
}

.lang-item {
    line-height: 1.7em;
    @include mediaMobile {
        line-height: 2em;
    }
}
