@import "compass/reset";


* {
    box-sizing: border-box;
    backface-visibility: hidden;
    &::selection {
        background: $green;
    }
}

a {
    color: inherit;
    cursor: pointer;
    display: inline-block;
    outline: 0;
}

button {
    &, &:focus {
        border: none;
        outline: none;
    }
}

input {
    outline: 0;
}

svg {
    * {
        vector-effect: non-scaling-stroke;
    }
}

$borderDefault: 1px solid black;

@mixin default-transition {
    transition: .5s ease-out;
}

