.article {
	padding-right: var(--column-gap);
}

.post-title {
	margin-bottom: 3rem;
}

.post-tags {
	@include fontParagraph;
	@include border-top-bottom;
    display: inline-block;
    padding: 1em 0;
    margin-bottom: 3rem;
    &:before, &:after {
    	width: 100%;
    }
}

.post-category {
	&:before {
		content: " / ";
	}
	&:first-child {
		&:before {
			content: none;
		}
	}
}

.article-content {
	@include fontBigParagraph;
	line-height: 1.4em;
	padding-left: calc( var(--column-gap) * 2 );

	p, h5, figure, div, ul, ol {
		margin-bottom: 1em;
	}

	h5 {
		@include fontHeaderBig;
	}

	figure, img {
		width: calc( 100% + var(--column-gap) )!important;
	}

	ul {
		list-style: unset;
		padding-left: 1em;
	}

	img {
		height: auto;
		&.size-medium {
			width: calc( 75% + var(--column-gap) )!important;
		}
		&.size-thumbnail {
			width: calc( 50% + var(--column-gap) )!important;
		}
	}

	figure {
		position: relative;

		&:hover {
			figcaption {
				opacity: 0;
			}
		}

		img {
			width: 100%!important;
			&.size-medium {
				width: 75%!important;
			}
			&.size-thumbnail {
				width: 50%!important;
			}
		}

		figcaption {
			@include fontSmallParagraph;
			@include fontUppercase;
			padding: 0.5em var(--column-gap);
			position: absolute;
			top: 3em;
			left: calc(var(--column-gap) * -2);
			max-width: 100%;
			transition: opacity .5s;
			@include mediaMobile {
				position: static;
				transform: translateY(calc(-4 * var(--column-gap)));
				max-width: calc(100% - 2 * var(--column-gap))
			}
			&:hover {
				opacity: 1;
			}
		}

	}

	em {
		font-style: italic;
	}

	@each $name, $color in $colors {
        .#{$name} & {
        	a {
        		color: white;
            	&:hover {
            		color: #{$color};
            	}
            }
            figcaption {
				background: #{$color};
			}
        }
    }

}
