.posts-section {
	margin: calc(var(--page-margin-vertical) * -1) calc(var(--page-margin) + var(--column-gap) * -1);
	overflow: auto;
}

.post-article {
	width: calc(var(--column-width) - var(--column-gap) * 2);
	margin: var(--column-gap);
	float: left;
	height: 0;
	position: relative;
	padding-top: calc((100% - var(--column-gap) * 6) / 3);
	@include mediaLargeDesktop {
		padding-top: calc((100% - var(--column-gap) * 10) / 5);
	}
	@include mediaTablet {
		padding-top: calc((100% - var(--column-gap) * 4) / 2);
	}
	@include mediaMobile {
		padding-top: calc((100% - var(--column-gap) * 2) / 1);
	}
	&:before {
		content: "";
		opacity: .3;
		background: white;
	}
	@each $name, $color in $colors {
        &.#{$name} {
        	.link-to-post {
            	color: #{$color};
            }
            [data-bg="no-photo"] {
            	& + .link-to-post {
	            	color: black;
	            }
            }
            .article-bg {
            	background-color: #{$color};
            }
        }
    }

    .article-bg, .link-to-post, &:before {
		@include stretch-to-parent;
	}
}


.article-bg {
	@include stretch-to-parent;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	filter: gray;
  	filter: grayscale(1);
	mix-blend-mode: multiply;
	opacity: .8;
	&[data-bg="no-photo"] {
		filter: none;
		&:before {
			content: "";
			@include stretch-to-parent;
			background: white;
			mix-blend-mode: multiply;
		}
	}
}

.article-title {
	transform: translateX(var(--column-gap));
	text-align: right;
	padding-top: 2em;
}
