.cover {

	position: relative;
	height: 100vh;
	margin-bottom: calc( var(--page-margin-vertical) * 2 );

	.logo {
		width: percentage(5/10);
		pointer-events: none;
		@include centerXY;
		left: calc(50% - var(--page-margin-vertical) * .5);
		svg {
			width: 100%;
		}
	}

	.claim {

	    position: absolute;
	    bottom: calc(var(--page-margin-vertical) / 2);
	    right: calc(#{$column-width} / -2);
	    width: percentage(7/10);
	    text-align: right;
	    z-index: 1;

	    @include mediaMobile {
	    	width: 100%;
	    	right: 0;
	    	@include landscapeOrientation {
	    		right: calc(#{$column-width} / -2);
	    		bottom: calc(var(--page-margin-vertical) / 4);
	    	}
	    }

	    span {
	    	display: inline-block;
		    text-align: left;
		    width: auto;
	    }

	}

}
