body {

	.main_sidbar_slide {

		z-index: 10;
		transition: transform .3s;
		bottom: auto;
		top: var(--page-margin-vertical);

		&.like_box_slideup_open {
			right: 0;
		    transform: translateX(0);
			left: auto;
			@include mediaMobile {
	    		@include landscapeOrientation {
		    		right: auto;
					left: 0;
		    	}
		    }

			.sidbar_slide_header, .sidbar_slide_title {
				background-color: white;
			}

			.sidbar_slide_header {
				@include mediaMobile {
		    		@include landscapeOrientation {
			    		background-color: black;
		    			border-left: black 12px solid;
			    	}
			    }
			}

			.sidbar_slide_title {
				@include mediaMobile {
		    		@include landscapeOrientation {
			    		background-color: transparent;
			    	}
			    }
			}
		}

		&.like_box_slideup_close {
		    right: 0;
		    transform: translateX(100%);
		    left: auto;
		    @include mediaMobile {
	    		@include landscapeOrientation {
		    		right: auto;
					left: calc(1 * var(--page-margin-vertical));
					transform: translateX(-100%);
		    	}
		    }
		}

		&:hover {
			.sidbar_slide_title {
				color: $pink;
				@include mediaMobile {
		    		@include landscapeOrientation {
			    			color: white;
			    	}
			    }
			}
		}



		.like_box_slideup {
			height: auto!important;
		}

		.sidbar_slide_header {
			margin-top: 0!important;
			border: none;
			background-color: transparent;
			border-radius: 0;
		    position: absolute;
		    left: calc(-1 * var(--page-margin-vertical));
		    width: var(--page-margin-vertical);
	        top: 0;
    		height: 100%;
    		@include mediaMobile {
	    		@include landscapeOrientation {
	    			left: auto;
		    		right: 0;
		    		border-left: $pink 12px solid;
		    	}
		    }
		}

		.sidbar_slide_title {
			color: black;
			background-color: transparent;
			height: var(--page-margin-vertical);
			line-height: calc(.8 * var(--page-margin-vertical));
			vertical-align: middle;
		    width: auto;
		    height: auto;
		    left: 0;
		    top: 50%;
		    position: absolute;
		    transform-origin: 0 0;
		    transform: rotate(90deg) translateY(-100%) translateX(-50%);
		    display: inline-block;
			@include mediaLargeDesktop {
				line-height: calc(.9 * 1.1 * var(--page-margin-vertical));
			}
			@include mediaMobile {
				line-height: calc(.9 * .5 * var(--page-margin-vertical));
				@include landscapeOrientation {
		    		transform: rotate(90deg) translateY(-100%) translateY(12px) translateX(-50%);
		    	}
			}
		}

		.sidbar_slide_content {
			border: none;
			background-color: white;
		}

	}

}
