.language-switcher {
	margin-top: calc(var(--page-margin-vertical) / 2);
	width: var(--page-margin-vertical);
	height: 3rem;
	line-height: 3rem;
	z-index: 2;
	pointer-events: auto;
	.current-lang {
		display: none;
	}
	.lang-item {
		text-align: center;
	}
}

.lang-item {
	height: 100%;
	a {
		text-decoration: none;
		height: 100%;
		color: black;
		&:hover {
			&:before, &:after {
				@include movement-animation;
				animation-name: link-hover-with-translateX;
			}
			&:after {
				animation-direction: reverse;
			}
		}
		@include border-top-bottom;
	}
}
