.logo {

	.category &, .single &, .page & {
		width: var(--page-margin);
		@include centerY;
		position: fixed;
		@include mediaMobile {
			@include centerX;
			width: calc(2.5 * var(--page-margin-vertical));
			top: 0;
			background: $pink;
		}
		svg {
			height: 70%;
		}

		text {
			display: none;
		}
	}

	z-index: 10;

	$logo-animation-duration: 5s;

	svg {
		width: 100%;
	}
	
	polyline, line, path {
    	transition: stroke-dashoffset $logo-animation-duration 1s ease;
	}

	polyline {
		stroke-dasharray: 300;
    	stroke-dashoffset: 300;
	}

	line {
		stroke-dasharray: 200;
    	stroke-dashoffset: 200;
	}

	path {
		&:nth-of-type(1) {
			stroke-dasharray: 600;
    		stroke-dashoffset: 600;
		}
		&:nth-of-type(2) {
			stroke-dasharray: 300;
    		stroke-dashoffset: 300;
		}
		&:nth-of-type(3) {
			stroke-dasharray: 200;
    		stroke-dashoffset: 200;
		}
	}

	text {
		opacity: 0;
		transition: opacity .09s;
		&::selection {
			background: none;
			color: black;
		}
	}

	&.drawn {

		polyline, line, path {
	    	stroke-dashoffset: 0;
		}

		text {
			opacity: 1;
		}
		$amount-of-letters: 24;
		@for $i from 0 to $amount-of-letters {
			text:nth-child(#{$i}) {
				transition-delay: calc( 1s + .09s * #{$i} );
			}
		}

	}

}

