.menu-content {

    display: flex;
    align-items: flex-end;
	position: absolute;
    top: 0;
    left: var(--page-margin-vertical);
    width: calc(100% - 2 * var(--page-margin-vertical));
	min-height: 100vh;
    padding: var(--page-margin-vertical);
    padding-right: 0;
    background: $pink;
    @include default-transition;
    transition-property: transform;
    pointer-events: auto;

    @include mediaMobile {
        flex-direction: column;
        padding-top: calc(var(--page-margin-vertical) * 4);
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: calc((100% - var(--page-margin-vertical))/2);
        height: 100%;
        z-index: -1;
        background: tint($pink, 30%);
        @include mediaMobile {
            background: none;
        }
    }

    .open & {
    	transform: translateX(-100vw);
    }

    a {
    	color: black;
        @include bordered-link;
    }

    .menu-column {
        width: 50%;
        float: left;
        transform: translateX(calc(2 * var(--column-gap)));
        padding: 0 var(--column-gap);
        text-align: right;

        @include mediaMobile {
            width: 100%;
            margin-bottom: calc(2 * var(--column-gap));
        }

        figcaption {
            @include fontBigParagraph;
            margin-bottom: .7em;
        }
    }

    .cat-item, .menu-item, .page_item {
        line-height: 1em;
        margin-bottom: .4em;
    }
}

.open {
    height: 100vh;
    overflow: hidden;
}
