@keyframes link-hover {
	0%   { transform: translateX(0%); }
	25%   { transform: translateX(30%); }
	50%   { transform: translateX(0%); }
	75% { transform: translateX(-30%); }
	100% { transform: translateX(0%); }
}

@keyframes link-hover-with-translateX {
	0%   { transform: translateX(-50%); }
	25%   { transform: translateX(-20%); }
	50%   { transform: translateX(-50%); }
	75% { transform: translateX(-80%); }
	100% { transform: translateX(-50%); }
}

@keyframes link-hover-with-translateXY {
	0%   { transform: translateX(-50%) translateY($border-distance); }
	25%   { transform: translateX(-20%) translateY($border-distance); }
	50%   { transform: translateX(-50%) translateY($border-distance); }
	75% { transform: translateX(-80%) translateY($border-distance); }
	100% { transform: translateX(-50%) translateY($border-distance); }
}

@keyframes link-hover-with-translateXYreverse {
	0%   { transform: translateX(-50%) translateY(calc(#{$border-distance} * -1)); }
	25%   { transform: translateX(-20%) translateY(calc(#{$border-distance} * -1)); }
	50%   { transform: translateX(-50%) translateY(calc(#{$border-distance} * -1)); }
	75% { transform: translateX(-80%) translateY(calc(#{$border-distance} * -1)); }
	100% { transform: translateX(-50%) translateY(calc(#{$border-distance} * -1)); }
}

@keyframes link-rotate {
	0% {
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		transform: translateX(-50%) rotate(360deg);
	}
}

@mixin movement-animation {
	animation-name: link-hover;
	animation-duration:  1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@mixin bordered-link {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		height: calc(100% - .5em);
		background: tint($yellow, 30%);
		border-radius: 5%;
		width: 100%;
		z-index: -1;
		opacity: 0;
		transition: opacity .25s;
	}
	&:hover {
		&:before {
			opacity: 1;
		}
	}
	
}
