html, body {
	background: $pink;
	overflow-x: hidden;
}

body {
	padding: calc( var(--page-margin-vertical) * 2 ) 0 calc( var(--page-margin-vertical) * 2 );
	&.home {
		padding-top: 0;
	}
	&.single {
		padding-top: calc( var(--page-margin-vertical) * 1.5 ) ;
		padding-bottom: calc( var(--page-margin-vertical) * 1 ) ;
		@include mediaMobile {
			padding-top: calc(3 * var(--page-margin-vertical));
		}
	}
	&:after {
		content: "";
	    position: fixed;
	    top: 0;
	    right: 0;
	    width: var(--page-margin-vertical);
	    height: 100vh;
	    z-index: 0;
	    background: white;
	}
}

.page-content {
    margin-left: var(--page-margin);
    margin-right: var(--page-margin);
    width: calc(100% - 2 * var(--page-margin));
}

*::selection {
    background-color: tint($yellow, 30%); 
}

a {
	color: $yellow;
	text-decoration: none;
}
