$pink: rgb(244,208,208);
$yellow: rgb(255,254,153);
$green: rgb(165,255,167);
$blue: rgb(103,190,255);
$red: rgb(255,127,137);

$colors: ("green-box": $green, "blue-box": $blue, "red-box": $red, "yellow-box": $yellow);

@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}
