.comments-area, .comment-respond {
	margin-top: var(--page-margin-vertical);
}

.comments-title, .comment-reply-title {
	margin-bottom: 3rem;
}


.comment-meta {
	@include border-top-bottom;
	&:before {
		width: 100%;
		left: 0;
		transform: none;
		z-index: 10;
	}
	&:after {
		content: none;
	}
}

.comment-author {
	display: flex;
	img {
		z-index: 0;
		background: $pink;
  		&[src*="e5c6c5404081c5cc32f844f8ccd7396"]  {
			opacity: 0;
		}
	}
	&:before {
		content: "";
		width: 42px;
		height: 42px;
		position: absolute;
		background-image: url(../img/avatar.svg);
		background-repeat: no-repeat;
		background-position: left;
		background-size: 100%;
	}
	.fn {
		margin-left: calc( var(--column-gap) / 2 );
		padding-top: .5em;
	}
	.says {
		display: none;
	}
}

.comment-metadata {
	transform:translateY(-100%);
	margin-left: calc( 42px + var(--column-gap) / 2 );
}

.comment-content {
	@include fontBigParagraph;
	margin-bottom: .5em;
}

.comment-reply-link, .logged-in-as a {
	margin-bottom: .5em;
}

.logged-in-as, .logged-in-as a, time, .comment-edit-link, .comment-reply-link {
	color: tint($pink, 80);
}
.comment-form-comment {
	label {
		display: none;
	}
	textarea {
		width: 100%;
		border: none;
		background: tint($pink, 20);
		margin: 0;
		padding: .3em var(--column-gap);
		margin-bottom: calc( var(--column-gap) / 2);
		&:focus {
			outline: none;
		}
	}
}

.comment-form {
	.comment-notes {
		margin-bottom: .3em;
	}
	label {
		width: 9rem;
		display: inline-block;
	}
	p {
		margin-bottom: calc( var(--column-gap) / 2);
	}
	input[type="text"], input[type="email"], input[type="url"] {
		width: calc(100% - 12rem);
		float: right;
		border: none;
		background: tint($pink, 20);
		margin: 0;
		padding: .3em calc(var(--column-gap) / 2 );
		&:focus {
			outline: none;
		}
	}
}

.form-submit {
	float: right;
	cursor: pointer;
	background: black;
	height: 3rem;
	transition: transform .25s;
	&:hover {
		transform: translateX(var(--column-gap));
		.submit {
			transform: translateX( calc(var(--column-gap) * -1) );
		}
	}
	.submit {
		transition: transform .25s;
		cursor: pointer;
		color: white;
		background: none;
		border: none;
		@include fontParagraph;
		height: 3rem;
		padding: 0 var(--column-gap);

	}
}

