body {

	.tplis-cl-cookies, .newsletter {
		display: flex;
    	align-items: center;
		background: none;
		top: calc(var(--page-margin-vertical) / 2);
    	bottom: auto!important;
    	right: 0;
        width: calc(50vw - var(--page-margin-vertical) / 4 * 3);
    	height: 3rem;
    	border-top: $thin-border solid black;
    	border-bottom: $thin-border solid black;
    	@include fontParagraph;
        @include mediaTablet {
            min-width: calc(50vw - var(--page-margin-vertical) / 4 * 3);
            width: auto;
        }

    	.tplis-cl-cookies-text {
    		padding: 0;
    		max-width: none;
    		display: inline;
    		flex-grow: 1;
    		display: flex;
    		align-items: center;

    		* {
    			color: black;
    		}

    		a {
	    		border: none;
	    		color: tint($yellow, 30%);
	    		font-weight: normal;

	    		&:hover {
                    color: $yellow;
	    		}
	    	}

    	}

    	.tplis-cl-message {
    		padding: 0 1em;
    		p {
    			margin: 0;
                padding: 0;
    		}
    	}

		p, h4 {
			text-transform: none;
		    letter-spacing: normal;
            @include fontBigParagraph;
		}

    	.tplis-cl-cookies-head, .tplis-cl-cookies-content-text {
    		display: inline;
    		float: left;
    	}

    	.tplis-cl-cookies-head {

    		padding-left: 1em;
    		
    		h4 {
    			margin: 0;
    			font-weight: normal;
    			padding: 0;
    			border: none;
    		}
    	}

    	.tplis-cl-cookies-buttons {
    		float: right;
		    width: var(--page-margin-vertical);
		    display: inline-block;
            position: static;

		    .tplis-cl-row, .tplis-cl-button-image, .tplis-cl-button-accept {
		    	margin: 0;
		    	padding: 0;
		    	width: 100%;
		    	height: 100%;
		    }

		    .tplis-cl-button-image {
		    	background: black;
		    	display: flex;
		    	align-items: center;

		    	&:hover {
                    @include movement-animation;	
					animation-direction: reverse;
					p {
                        @include movement-animation;
					}
				}
		    	p {
    				background: transparent;
    				color: white;
    				height: auto;
    				&:hover {	
    					transform: none;
					}
		    	}
		    }

    	}
	}

}

