.aside-menu {

	position: fixed;
	top: 0; 
	right: 0;
	height: 100vh;
	z-index: 100;
	width: calc(100vw + var(--page-margin-vertical));
	transform: translateX(100vw);
	pointer-events: none;

	.open & {

		background: white;

		position: absolute;

		.menu-burger {

			&:hover {

				.burger-sign {

					@include movement-animation;
					animation-name: link-rotate;

					&:before, &:after {
						animation: none;
					}

				}

			}

		}

		.burger-sign {

			background: transparent;

			&:before {
				transform: translateX(-50%) rotate(45deg);
			}

			&:after {
				transform: translateX(-50%) rotate(-45deg);
			}

		}

	}
}

.menu-burger {

	@include centerY;
	transform: translate(100%, -50%);
	background: transparent;
	width: calc(var(--page-margin-vertical) / 3);
	height: calc(var(--page-margin-vertical) / 3 / 3 * 2);
	padding: 0;
	cursor: pointer;
	z-index: 2;
	pointer-events: auto;

	&:hover {

		.burger-sign {

			&, &:before, &:after {
				@include movement-animation;
			}

			& {
				animation-name: link-hover-with-translateX;
			}

			&:before {
				animation-name: link-hover-with-translateXY;
				animation-delay: .25s;
			}

			&:after {
				animation-name: link-hover-with-translateXYreverse;
				animation-delay: .5s;
			}
		}

	}

	.burger-sign {
		display: inline-block;
		@include thin-border;

		&:before, &:after {
			content: "";
			position: absolute;
			@include thin-border;
			transform-origin: 50%;
			transition: transform .5s;
		}

		&:before {
			transform: translateX(-50%) translateY($border-distance);
		}
		&:after {
			transform: translateX(-50%) translateY(calc(#{$border-distance} * -1));
		}
	}

}