.newsletter {

	justify-content: flex-end;
	transform: translateX( calc(-.5 * var(--column-gap)) );

	@include mediaMobile {
		transform: translateX( calc(var(--page-margin-vertical) - var(--column-gap) ) );
	}

	.tnp-button, .tnp-field, .tnp-email {
		@include fontBigParagraph;
		height: 100%;
	}

	.tnp-field {
		display: flex;
		align-items: center;
	}

	.tnp-field-email {
		flex-grow: 1;
	}

	.tnp-email {
		border: none;
		background: none;
		color: black;
		padding: 0 1em;
		cursor: pointer;
		width: 100%;
	}

	.tnp-field-button {
		background: black;
		width: var(--page-margin-vertical);
		cursor: pointer;
    	flex-direction: column;
	}

	.tnp-button {
		background: black;
		border: none;
		color: white;
    	display: flex;
    	align-items: center;
    	width: auto;

    	&:hover {
            @include movement-animation;	
			animation-direction: reverse;
			p {
                @include movement-animation;
			}
		}
	}
	
}
