$largeDesktopBreakpoint: 1800px;
$tabletBreakpoint: 1079px;
$mobileBreakpoint: 599px;

@mixin mediaAll {
    @media screen and (min-width: 0px) {
        @content;
    }
}

@mixin mediaLargeDesktop {
    @media screen and (min-width: $largeDesktopBreakpoint) {
        @content;
    }
}

@mixin mediaBelowDesktop {
    @media screen and (max-width: $tabletBreakpoint) {
        @content;
    }
}

@mixin mediaAboveTablet {
    @media screen and (min-width: #{$tabletBreakpoint + 1}) {
        @content;
    }
}

@mixin mediaTablet {
    @media screen and (max-width: $tabletBreakpoint) {
        @content;
    }
}

@mixin mediaAboveMobile {
    @media screen and (min-width: #{$mobileBreakpoint + 1}) {
        @content;
    }
}

@mixin mediaMobile {
    @media screen and (max-width: $mobileBreakpoint) {
        @content;
    }
}

@mixin landscapeOrientation() {
    @media (orientation : landscape) {
        @content;
    } 
}
